<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjectAppointment</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.medical.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.medical.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PatSignupServlet</display-name>
    <servlet-name>PatSignupServlet</servlet-name>
    <servlet-class>com.medical.servlet.PatSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatSignupServlet</servlet-name>
    <url-pattern>/PatSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DocSignupServlet</display-name>
    <servlet-name>DocSignupServlet</servlet-name>
    <servlet-class>com.medical.servlet.DocSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocSignupServlet</servlet-name>
    <url-pattern>/DocSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ForgotServlet</display-name>
    <servlet-name>ForgotServlet</servlet-name>
    <servlet-class>com.medical.servlet.ForgotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotServlet</servlet-name>
    <url-pattern>/ForgotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PatientLoginServlet</display-name>
    <servlet-name>PatientLoginServlet</servlet-name>
    <servlet-class>com.medical.servlet.PatientLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLoginServlet</servlet-name>
    <url-pattern>/PatientLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoctorLoginServlet</display-name>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <servlet-class>com.medical.servlet.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MedicalHistoryServlet</display-name>
    <servlet-name>MedicalHistoryServlet</servlet-name>
    <servlet-class>com.medical.servlet.MedicalHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalHistoryServlet</servlet-name>
    <url-pattern>/MedicalHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PatientAppointmentServlet</display-name>
    <servlet-name>PatientAppointmentServlet</servlet-name>
    <servlet-class>com.medical.servlet.PatientAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientAppointmentServlet</servlet-name>
    <url-pattern>/PatientAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoctorAppointmentServlet</display-name>
    <servlet-name>DoctorAppointmentServlet</servlet-name>
    <servlet-class>com.medical.servlet.DoctorAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorAppointmentServlet</servlet-name>
    <url-pattern>/DoctorAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoctorScheduleServlet</display-name>
    <servlet-name>DoctorScheduleServlet</servlet-name>
    <servlet-class>com.medical.servlet.DoctorScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorScheduleServlet</servlet-name>
    <url-pattern>/DoctorScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoctorSeachServlet</display-name>
    <servlet-name>DoctorSeachServlet</servlet-name>
    <servlet-class>com.medical.servlet.DoctorSeachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorSeachServlet</servlet-name>
    <url-pattern>/DoctorSeachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BookAppointment</display-name>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>com.medical.servlet.BookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointment</servlet-name>
    <url-pattern>/BookAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoctorSeachServlet1</display-name>
    <servlet-name>DoctorSeachServlet1</servlet-name>
    <servlet-class>com.medical.servlet.DoctorSeachServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorSeachServlet1</servlet-name>
    <url-pattern>/DoctorSeachServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.medical.servlet.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TimeServlet</display-name>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>com.medical.servlet.TimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/TimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ConfirmBooking</display-name>
    <servlet-name>ConfirmBooking</servlet-name>
    <servlet-class>com.medical.servlet.ConfirmBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBooking</servlet-name>
    <url-pattern>/ConfirmBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PrescriptionServlet</display-name>
    <servlet-name>PrescriptionServlet</servlet-name>
    <servlet-class>com.medical.servlet.PrescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrescriptionServlet</servlet-name>
    <url-pattern>/PrescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SavePrescription</display-name>
    <servlet-name>SavePrescription</servlet-name>
    <servlet-class>com.medical.servlet.SavePrescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePrescription</servlet-name>
    <url-pattern>/SavePrescription</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>SaveFeedback</display-name>
    <servlet-name>SaveFeedback</servlet-name>
    <servlet-class>com.medical.servlet.SaveFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveFeedback</servlet-name>
    <url-pattern>/SaveFeedback</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.medical.servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewFeedback</display-name>
    <servlet-name>ViewFeedback</servlet-name>
    <servlet-class>com.medical.servlet.ViewFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFeedback</servlet-name>
    <url-pattern>/ViewFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CancelAppointment</display-name>
    <servlet-name>CancelAppointment</servlet-name>
    <servlet-class>com.medical.servlet.CancelAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelAppointment</servlet-name>
    <url-pattern>/CancelAppointment</url-pattern>
  </servlet-mapping>
</web-app>